#form{
    width: 80%;
    margin-left: 10%;
    padding-top: 40px;
}

/* each question has a specific margin top*/
.question {
    margin: 100px 0px;
}

/* all question's titles have a bottom margin*/
.title {
    margin: 0px 0px 20px 0px;
    display: block;
}


/*
range slider
*/

#rangeYears{
    width: 100%;
}

.box-minmax{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color:black;
}
 
.box-minmax  span:first-child{
      margin-left: 10px;
}


/* centering all the column but the first one horizontally and vertically*/
#useful{text-align: center; }
#useful td { vertical-align: middle;}

#claims{text-align: center; }
#claims td { vertical-align: middle;}

.description{
    text-align: left!important;
}


/* each input text is small but the ones with fullsize class*/

.form-control { padding: 0px 0px;  line-height: 10px!important; width: 150px!important; margin-left: 20px!important; margin-top: 2px!important; }

.longer {width: 300px!important}

.fullsize {
    width: 100%!important;
    margin-left: 0px!important;
    line-height: 60px!important;
}

/* each table does not have the bottom border*/
table { border-collapse: collapse;
}

tbody > tr:last-child > td {
    border-bottom: 0;
}

/* we used that to add some margin at the top of a couple of nested questions*/

.margintop {
    margin-top: 100px;
}

/* bold and red for TO COMPLETE*/

.bold-red {
    color: red;
    font-weight: bold;
}

/* colors for code when the background is white*/

.blue{
    color: rgb(0,18,163);
}

.green{
    color: rgb(76,166,48);
}

.brown{
    color: rgb(159,89,31);
}

.lightblue{
    color: rgb(74,167,169);
}