/*
Code from https://codepen.io/eliseojopiajr/pen/WPNMmB
Function to filter the data in the table
*/

.filterable .filters input[disabled] {
    background-color: transparent;
    border: None;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

::-webkit-input-placeholder {
    font-weight: bold;
}
:-moz-placeholder {
    font-weight: bold;
}
:-ms-input-placeholder {
    font-weight: bold;
}

/* inline svg in the buttons*/

.svg{
    display: inline-block;
    padding-right: 5px;
}