
  .carousel-control-prev,
  .carousel-control-next {
    background: none;
    color: "red";
    border: none;
  }

  .carousel-control-prev {
    /* margin-left: -150px; */
    color: "black";
  }

  .carousel-control-next {
    /* margin-right: -150px; */
    color: black;
  }

  /* set the height of the carousel */

  .carousel-item {
    height: 400px;
  }

  .inner{
      height: 400px;
  }
/* arrow customization */

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    /*border: 1px solid white;*/
  }

  .carousel-control-next-icon {

    background-image: url("../images/next.png");
  }

  .carousel-control-prev-icon {
  
    background-image: url("../images/previous.png");
  }

  .carousel-control-next-icon:after {
    /*content: '>';*/
    font-size: 55px;
    color: white;
  }

  .carousel-control-prev-icon:after {
    /*content: '<';*/
    font-size: 55px;
    color: red;
  }

  span.bold-red {
    color: red;
    font-weight: bold;
}

span.bold {
    font-weight: bold;
}

.white{
  background-color: white!important;
}


.task-description{
  background-color: rgb(193, 193, 193)!important;
  margin-top: 40px;
}

.carousel-grey{
  background-color: rgb(193, 193, 193)!important;
}

pre, code {
  padding:0!important;
  margin:0!important;
}

#validator li {
	list-style-type: none;
  padding:5px;
}

.mright{
  margin-right: 10px!important;
}

.mleft{
  margin-left: 10px!important;
}

.buttons{
width: 30px;
margin-left: 30px;
margin-right: 30px;
}

.title{
  display: inline-block;
}

.prediction{
  margin-left: 30%;
  margin-top: 50px;
  height: 100px;
  overflow-y:scroll;
  direction:ltr;

}

#description-area{
  height: 250px!important;
}

.validate_choice{
  display: inline-block;
}

  /* test commands */
/*

  body {
    background-color: #ddd;
  }  
  div {
    outline: 1px solid red;
  }
  */